.header-site{
    background-image: url("https://cdn.pixabay.com/photo/2016/07/22/03/27/rio-de-janeiro-1534089__340.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    padding-top: 308px;
    padding-bottom: 330px;
}

.content-site{
    padding-bottom: 200px;
    padding-bottom: 230px;
}
.img-site{
    background-image: url("https://cdn.pixabay.com/photo/2016/07/22/03/27/rio-de-janeiro-1534089__340.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    padding-top: 308px;
    padding-bottom: 330px;
}

.busca-voos{
    background-color:#ffff;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 16px;
}

.footer-site{
    background-color:black;
    color: #ffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

